.Home {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 100%;
    background-image: url('../../images/fabian-grohs-oZ61KFUQsus-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.Home section {
    display: grid;
    grid-column: 2;
    justify-items: center;
    height: 350px;
    margin-top: 80px;
}
.Home-text {
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 5px;
    color: white;
    text-align: center;
}
.Home-button {
    width: 110px;
    height: 50px;
    margin-bottom: 40px;
    border-radius: 10px;
    background:#20abe1;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 50px;
    border: 2px solid white;
}